@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

body {
  font-family: 'Sora', sans-serif;
  background-color: #dddfe7;
}

/* colores de logo de Collins Café */
:root {
  --cafe-oscuro: #5E3C23; /* Marrón del logo */
  --cafe-claro: #F5EEE9;  /* Un tono crema muy suave para los fondos */
}

.text-cafe { color: var(--cafe-oscuro) !important; }
.bg-cafe-light { background-color: var(--cafe-claro) !important; }
.border-cafe { border-color: var(--cafe-oscuro) !important; }

/* Botón sólido (botones grandes) */
.btn-cafe {
  background-color: var(--cafe-oscuro);
  color: white;
  border: 1px solid var(--cafe-oscuro);
}
.btn-cafe:hover {
  background-color: #422917; /* Un tono más oscuro para cuando pasas el mouse */
  color: white;
}

/* Botón con borde (todos) */
.btn-outline-cafe {
  color: var(--cafe-oscuro);
  border: 1px solid var(--cafe-oscuro);
  background-color: transparent;
}
.btn-outline-cafe:hover {
  background-color: var(--cafe-oscuro);
  color: white;
}