@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Sora', sans-serif;
  background-color: #f4f6f9;
}
